body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #495E57;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h1#form-id {
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  color: #ffffff;
}

.input-container {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-container[type="date"],
.input-container[type="number"] {
  height: 20px;
  width: 30rem;
}

input[type="submit"] {
  background-color: #F4CE14;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

input[type="submit"][disabled] {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 768px) {
  form {
    max-width: 90%;
  }

  .input-container[type="date"],
  .input-container[type="number"] {
    width: calc(100% - 20px); /* Adjust according to padding */
  }
}

@media (max-width: 650px) {
  form {
    padding: 15px;
  }

  .input-container {
    font-size: 14px;
  }

  input[type="submit"] {
    padding: 10px 15px;
  }
}
                             /* Booking Confirmed */

.confirmed-booking-container{
      text-align: center;
      padding: 20px;
      margin: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px #495E57;
}

.confirmed-booking-container h2{
  margin-bottom: 0;
  color: #666;
  font-size: 16px;
}

.confirmed-booking-container p {
  margin-bottom: 0;
  color: #666;
  font-size: 16px;
}

@media (max-width: 768px) {
  .confirmed-booking-container {
    padding: 15px;
    margin: 15px;
  }

  .confirmed-booking-container h2 {
    font-size: 22px;
  }

  .confirmed-booking-container p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .confirmed-booking-container {
    padding: 10px;
    margin: 10px;
  }

  .confirmed-booking-container h2 {
    font-size: 20px;
  }

  .confirmed-booking-container p {
    font-size: 14px;
  }
}
