*{
    padding: 0;
    margin: 0;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .about-card1 {
    flex: 1;
    max-width: 400px;
    margin: 20px;
    padding: 10px;
  }
  .about-card2 {
    flex: 1;
    max-width: 400px;
    margin: 20px;
  }
  .about-card1 h1, .about-card1 p, .about-card1 h2 {
    padding: 8px;
    color: #495E57;
    font-weight: 600;
    line-height: 25px;
  }
  .about-card1 h2{
    color: #EE9972;
    font-weight: 500;
  }
  #about-h1{
     color: #495E57;
     font-weight: 700;
     margin-left: auto;
  }
  .about-card2 img {
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .about-card1, .about-card2 {
      flex: 1 100%;
      max-width: none;
      margin: 10px 0;
    }
  }