*{
  margin: 0;
  padding: 0;
}

                     /* Nav-Container*/


.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;

}
.logo-container{
   flex: 0 0 auto;
}
.link-container{
   list-style: none;
   margin: 0;
   padding: 15px;
   display: flex;
   justify-items: flex-start;
}
.link-container li{
  margin-right: 1rem;
  margin-left: 1rem
}
.link-container a{
  text-decoration: none;
  margin-left: 1rem;
  font-size: medium;
  font-weight: 500;
  color: #333333;
}
.link-container a:hover{
  color: #495E57;
  text-decoration: underline;
}


/* For screens narrower than 768px (tablets and smartphones) */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column; /* Stack logo and links vertically */
    align-items: center; /* Center content vertically */
  }

  .logo-container {
    margin-bottom: 1rem; /* Add space between logo and links */
  }

  .link-container {
    flex-direction: column; /* Arrange links vertically */
    align-items: center; /* Center links horizontally */
  }

  .link-container li {
    margin: 0.5rem 0; /* Adjust spacing between links */
  }
}


                     /* Hero Container */


.hero-container{
     display: grid;
     grid-template-columns: 200px 200px;
     background-color: #495E57;
     justify-content: space-evenly;
     height: 260px;
}
.hero1{
    width: 190px;
}
.hero1 h1,
.hero1 h2,
.hero1 p{
  padding: 2px;
}
.hero1 h1{
   color: #F4CE14;
   font-weight: 550;
}
.hero1 h2,
.heroP{
  color: #FFFFFF;
  font-family: 500;
}
.hero1 button{
  padding: 13px;
  border-radius: 10px;
  border-style: none;
  background-color: #F4CE14;
  color: black;
  margin-top: 5px;
  cursor: pointer;
}
.hero1 button:hover{
   background-color: #FFFFFF;
   color: #495E57;
}


@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr; /* Switch to single column layout */
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .hero2 {
    display: none; /* Hide image on smaller screens */
  }
}

                         /* Specials Section */


#special{
    font-size: 30px;
}
#special2{
  padding: 13px;
  width: 130px;
  border-radius: 10px;
  border-style: none;
  background-color: #F4CE14;
  color: black;
  margin-top: 5px;
  cursor: pointer;
}
#special2:hover{
  background-color: #495E57;
  color: #FFFFFF;
}
.specials-heading{
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    margin-top: 20px;
}
.dishes-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}
.dish:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgb(140, 138, 138);
}
.dish{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 290px;
  height: 430px;
  margin: 33px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  padding: 20px;
  background-color: #EDEFEE;
}
.img-heading{
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}
span{
  color: #EE9972;
  padding: 20px;
  font-size: medium;
}
.dish p{
   color: #495E57;
   padding: 15px;
   line-height: 23px;
}
.dish h4{
   text-align: center;
   padding: 15px;
   font-size: 18px;
}
.delivery-link {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
}
.delivery-link:hover {
   text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .dishes-container {
    padding: 0 10px; /* Added padding to sides for smaller screens */
  }

  .dish {
    margin: 20px auto; /* Center dishes horizontally on mobile */
  }
}




                                /* Testimonials section */


#testimonials-container{
  background-color: #FDF4EE;
  padding: 50px;
  margin-top: 20px;
}
#testimonials-h1{
    text-align: center;
    padding: 50px;
}
.reviews-container{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}
.review-card{
   display: block;
   background-color: white;
   margin: 20px;
   width: 12rem;
   border-radius: 17px;
   padding: 25px;
   margin-bottom: 90px;
}
.stars{
    font-size: 30px;
    color: #F4CE14;
    font-weight: 700;
    letter-spacing: 8px;
}
.cards-img{
    border-radius: 20px;
}
.review-card p, img, h3{
    padding: 3px;
}

@media (max-width: 768px) {
  .each-review {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .each-review {
    width: calc(100% - 40px);
  }
 }





                                  /* About Section */



.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.about-card1 {
  flex: 1;
  max-width: 400px; /* Adjust max-width as needed */
  margin: 20px;
  padding: 10px;

}
.about-card2 {
  flex: 1;
  max-width: 400px;
  margin: 20px;
}
.about-card1 h1, .about-card1 p, .about-card1 h2 {
  padding: 8px;
  color: #495E57;
  font-weight: 600;
  line-height: 25px;
}
.about-card1 h2{
  color: #EE9972;
  font-weight: 500;
}
#about-h1{
   color: #495E57;
   font-weight: 700;
   margin-left: auto;
}
.about-card2 img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .about-card1, .about-card2 {
    flex: 1 100%;
    max-width: none;
    margin: 10px 0;
  }
}

                               /* Footer Section */


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #495E57;
  min-height: 450px;
  margin-top: 50px;
  padding: 20px;
}
.footer-1{
  display: flex;
  margin-top: 30px;

}
.footer-2{
  display: flex;
  margin-top: 30px;
}
.footer-links{
    margin-left: 40px;
    color: #FFFFFF;
    line-height: 33px;
}
.footer-p a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .footer-1, .footer-2 {
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
  }

  .footer-links {
    margin: 10px 20px;
  }
}

                      /* Form Section */


#form-id {
  color: #F4CE14;
  background-color: #495E57;
  text-align: center;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
  background-color: #495E57;
}

.form-container1,
.form-container2 {
  flex: 1;
  padding: 20px;
}

label {
  display: block;
  margin: 20px 0 0;
  font-weight: 600;
  font-size: medium;
  color: #FFFFFF;
}

.input-container {
  width: 30rem;
  height: 45px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select,
input[type="number"] {
  height: 45px;
}

input[type="submit"] {
  background-color: #F4CE14;
  color: #333333;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

input[type="submit"]:disabled {
  background-color: #CCCCCC;
  color: #999999;
  cursor: not-allowed;
}

input[type="submit"]:not(:disabled):hover {
  background-color: #FFFFFF;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  .res-container {
    flex-direction: column;
    width: 100%;
  }

  .form-container1,
  .form-container2 {
    flex: 1;
  }
}

.form-imgs {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  gap: 50px;
}

.res-img {
  border-radius: 10px;
}








                          /* Confirmed Booking */



.confirmed-booking-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.confirmed-booking-container h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.confirmed-booking-container p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}



